body {
    margin: 0;
    padding:0;
}

#game-screen {
    display: block;
}
#gameOver, #playHUD {
    position:  absolute;
    visibility: hidden;
    color: black;
    text-align: center;
    font-family: GameOver-Title;
    color: white;
}
@font-face{
    font-family: GameOver-Title;
    src: url('PressStart2P.ttf');
}
h1, h2, h3{
   
}
.title {
    font-size: 62px;
    margin-bottom: 0px;
    margin-top: 0px;
}
#restartButton {
    border: 2px solid white;
    border-radius: 10px;
}
#restartButton:hover {
    background-color: #14ff20;
}
#scoreboard {
    margin-left: 5px;
    margin-top: 5px;
}